<div class="card border-0">
    <ul class="list-group">
        <li class="list-group-item m-0 position-relative border-0">
            <ul class="top-links">
                <li class="text-muted">{{pendingTask?.length}} item(s) left</li>
                <li>
                    <div id="nav-tab" class="nav nav-tabs border-0 px-5 mx-4" role="tablist">
                        <button class="nav-link text-body border-0 active" id="nav-all-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-all" aria-selected="true">All</button>
                        <button class="nav-link text-body border-0" id="nav-active-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-active" aria-selected="false">Active</button>
                        <button class="nav-link text-body border-0" id="nav-completed-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-completed" aria-selected="false">Completed</button>
                    </div>
                </li>
                <li style="cursor: pointer;" (click)="deleteAllCompletedTodoItems()">Clear Completed</li>
            </ul>
        </li>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-all-tab" role="tabpanel" aria-labelledby="nav-all-tab">
                <app-todoitems [todolist]="todo" (updatedItem)="changeStatus($event)"
                    (deletedItem)="deleteTodoItem($event)" (editedItem)="updateTodoItem($event)">
                </app-todoitems>
                <p class="text-danger text-center py-3 m-0" *ngIf="!todo?.length">No Tasks Found</p>
            </div>
            <div class="tab-pane fade" id="nav-active" role="tabpanel" aria-labelledby="nav-active-tab">
                <app-todoitems [todolist]="pendingTask" (updatedItem)="changeStatus($event)"
                    (deletedItem)="deleteTodoItem($event)" (editedItem)="updateTodoItem($event)">
                </app-todoitems>
                <p class="text-danger text-center py-3 m-0" *ngIf="!pendingTask?.length">No Active Tasks Found</p>
            </div>
            <div class="tab-pane fade" id="nav-completed" role="tabpanel" aria-labelledby="nav-completed-tab">
                <app-todoitems [todolist]="completeTask" (updatedItem)="changeStatus($event)"
                    (deletedItem)="deleteTodoItem($event)" (editedItem)="updateTodoItem($event)">
                </app-todoitems>
                <p class="text-danger text-center py-3 m-0" *ngIf="!pendingTask?.length">No Completed Tasks Found
                </p>
            </div>
        </div>
    </ul>
</div>
<div>
    <form [formGroup]="todoForm" (ngSubmit)="addTodoItem()" novalidate class="d-flex justify-content-between mt-3">
        <div class="form-group">
            <input type="text" id="task-input" class="form-control border-dark" formControlName="task" placeholder="New Task"
                [ngClass]="todoForm.controls.task.touched && todoForm.controls.task.errors?.minlength || todoForm.controls.task.errors?.maxlength ? 'is-invalid' : ''">
            <small class="form-text text-danger" *ngIf="todoForm.controls.task.errors?.minlength">Task title must be at
                least 2 characters.</small>
            <small class="form-text text-danger" *ngIf="todoForm.controls.task.errors?.maxlength">Task title must not
                exceed
                30 characters.</small>
        </div>
        <div>
            <button class="btn btn-light border-dark text-weight-bold" type="submit"
                [disabled]="!todoForm.valid || todoForm.controls.task.value === ''">Add Task</button>
        </div>
    </form>
</div>