.navbar {
    position: absolute !important;
}

.date-time {
    background: #fff;
    font-size: 10px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 4px;
}

.date-time i {
    font-size: 15px;
    padding-right: 8px;
}

.task-card {
    height: 100px;
}

.task-card .item-left {
    text-align: center;
    padding: 2px 12px 8px 12px;
    float: left;
    color: #fff;
}

.task-card .item-right {
    font-size: 0.9rem;
}

.search-input {
    border: 1px solid #3333;
}

.search-input input {
    height: 44px;
    border: 0;
    padding: 0;
}

.search-input input:active,
.search-input input:focus {
    box-shadow: none;
}

select:active,
select:focus {
    box-shadow: none;
}

.todo-list-wrapper .top-bg {
    background-image: url(../assets/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 280px;
}

.todo-list-wrapper .top-bg::after {
    content: '';
    background: #4568DC;
    background: linear-gradient(to right, #10B4BB, #4568DC);
    height: 280px;
    position: absolute;
    width: 100%;
    opacity: 0.8;
}

.todo-list-wrapper .main-card {
    margin-top: -200px;
    margin-bottom: 40px;
    position: relative;
}

.todo-list-wrapper .main-card .header h1 {
    letter-spacing: 12px;
    margin: 0 0 20px 0;
}

.ngx-pagination {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}